body{
    box-sizing: border-box;
    margin:5px;
    background-color: aliceblue;
}
h1{
    text-align:center;
    color: blue;
    text-decoration:underline;
    text-transform:uppercase;
    font-style:italic;
    font-weight: 1000;
}
p{
    text-align: justify;
    word-spacing: 10px;  
    letter-spacing: 1px;
    text-transform: capitalize;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    border:solid 4px grey;
    padding-left: 10px;
    padding-right:10px;
}